@charset "utf-8";

body {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	background-image: url(images/bg4.jpg);		
}
.bar {
	margin-top: 500px;
}

.list-bt {
	text-align: center;
	padding-left: 190px;
}
.bt li {
	display: inline;
	padding-right: 210px;
		
}

.bt li a {
	color: #FFFFFF;
	text-shadow: 0px 0px 20px #000000;
	text-decoration: none;	
}
.bt li a:hover {
	transition: color 0.8s;
	color: hsla(0,0%,100%,0.48);	
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: rgba(142,140,140,0.56);
	text-align: center;
	color: #D8D8D8;
	text-shadow: 0px 0px 5px #000000;
}
.icon-small {
	font-size: 15px;
	color: #FFFFFF;
	border-radius: 36px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: hsla(0,1%,28%,0.80);
	margin-right: 8px;
	margin-left: 8px;
	-webkit-box-shadow: 0px 0px 4px 3px;
	box-shadow: 0px 0px 4px 2px;
	
}
a {
    text-decoration:none;
}
.icon-small:hover {
	font-size: 16px;
	color:red;
	transition:color 0.5s;
	border-radius: 36px;
	padding:15px;
	background-color: hsla(0,1%,28%,0.80);
	margin-right: 8px;
	margin-left: 4px;
	-webkit-box-shadow: 0px 0px 4px 3px;
	box-shadow: 0px 0px 4px 2px;
}
